<?xml version="1.0" encoding="utf-8"?>
<Configurations xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LogLevel>Debug</LogLevel>
  <Destinations>
    <DestinationEntry>
      <Name>ConsoleDestination</Name>
      <Parameters>
        <Parameter>
          <Name>UseColors</Name>
          <Value>True</Value>
        </Parameter>
      </Parameters>
      <CollectMiddleware>
        <Name>ConcurrentCollectMiddleware</Name>
      </CollectMiddleware>
      <Middlewares />
    </DestinationEntry>
    <DestinationEntry>
      <Name>FileDestination</Name>
      <Parameters>
        <Parameter>
          <Name>OutputPath</Name>
          <Value>logs\log.txt</Value>
        </Parameter>
        <Parameter>
          <Name>KeepFileOpen</Name>
          <Value>True</Value>
        </Parameter>
        <Parameter>
          <Name>MaxFiles</Name>
          <Value>30</Value>
        </Parameter>
        <Parameter>
          <Name>LogFilesPath</Name>
          <Value>logs\.logs</Value>
        </Parameter>
      </Parameters>
      <CollectMiddleware>
        <Name>ConcurrentCollectMiddleware</Name>
      </CollectMiddleware>
      <Middlewares />
    </DestinationEntry>
  </Destinations>
</Configurations>